
.book {
  width: 320px;
  max-height: 185px;
  display: flex;
  font-size: 0.9rem;
  margin: 10px;
  margin-left: 0;
  overflow: hidden;
  
  &__info {
    overflow-y: auto;
    word-wrap: break-word;
    margin-left: 10px;
    max-height: 185px;
  }
  &__thumbnail {
    img {
      width: 128px;
    }
  }
}