
.book {
  width: 320px;
  height: 185px;
  display: flex;
  font-size: 14px;
  margin: 10px;
  margin-left: 0;
  overflow: hidden;
  
  &__info {
    overflow: scroll;
    margin-left: 10px;
    padding-right: 3px;
  }
  &__thumbnail {
    img {
      width: 128px;
    }
  }
}